<div id="list">
	<table class="table width-full">
		<thead>
			<tr>
				<th></th>
				<th>Tatuagem</th>
				<th>Sexo</th>
				<th>Nascimento</th>
				<th>Pelagem</th>
				<th>Grau</th>
				<th>Pai</th>
				<th>Mãe</th>
			</tr>
		</thead>
		<tbody>
			{{for docs}} 
				<tr id='list-{{:_id}}' class='link' data-args='{"route":"single","_id":"{{:_id}}"}'>
					<td class="text-bold"><i class="fa fa-tag tag-{{:tag}}"></i></td>
					<td class="text-bold">{{:ring}}</td>
					<td class="text-bold text-center">
						<span class="sex-{{:sex}}">{{if sex == 0}}<i class="fa fa-venus"></i>{{else}}<i class="fa fa-mars"></i>{{/if}}</span>
					</td>
					<td class="text-center">{{:month}}/{{:year}}</td>
					<td class="text-center">{{:translated.color}}</td>
					<td class="text-center">{{:translated.grade}}</td>
					{{if dad}}
						<td class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
						<!--
						<td class="text-center">
							<table>
								<tr>
									<td>{{:dad.ring}}</td>
									<td>{{:dad.grade}}</td>
									<td>{{:dad.reg}}</td>
								</tr>
							</table>
						</td>
						-->
					{{else}}
						<td class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i></td>
					{{/if}}
					{{if mom}}
						<td class="text-center"><i class="fa fa-check-square-o" aria-hidden="true"></i></td>
						<!--
						<td class="text-center">
							<table>
								<tr>
									<td>{{:mom.ring}}</td>
									<td>{{:mom.grade}}</td>
									<td>{{:mom.reg}}</td>
								</tr>
							</table>
						</td>
						-->
					{{else}}
						<td class="text-center"><i class="fa fa-square-o" aria-hidden="true"></i></td>
					{{/if}}
				</tr>
			{{else}}
				<tr>
					<td colspan="5">
						Nenhum animal que atenda aos critérios requisitados
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
</div>