<div id="register">
	<p>Preencha os dados abaixo para cadastrar um novo animal</p>
	<form action="/" id="form-animal" class="form">
		<div class="col-2 form-cell clear-both">
			<div class="col-10 form-label">
				<label for="form-animal-ring">Tatuagem</label>
			</div>
			<div class="col-10 clearfix">
				<input type="text" name="ring" value="" id="form-animal-ring" class="col-10">
			</div>
		</div>
		<div class="col-3 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-sex">Sexo</label>
			</div>
			<div class="col-10 clearfix">
				<select name="sex" id="form-animal-sex" class="col-10">
					<option value="0" selected="selected">Fêmea</option>
					<option value="1">Macho</option>
				</select>
			</div>
		</div>
		<div class="col-5 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-reg">Nº Registro <small>(Caso exista)</small></label>
			</div>
			<div class="col-10 clearfix">
				<input type="text" name="reg" value="" id="form-animal-reg" class="col-10">
			</div>
		</div>
		<div class="col-1 form-cell clear-both">
			<div class="col-10 form-label">
				<label for="form-animal-day">Dia</label>
			</div>
			<div class="col-10 clearfix">
				<select name="day" id="form-animal-day" class="col-10">
					<option value="1" selected="selected">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</div>
		</div>
		<div class="col-2 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-month">Mês</label>
			</div>
			<div class="col-10 clearfix">
				<select name="month" id="form-animal-month" class="col-10">
					<option value="1" selected="selected">Janeiro</option>
					<option value="2">Fevereiro</option>
					<option value="3">Março</option>
					<option value="4">Abril</option>
					<option value="5">Maio</option>
					<option value="6">Junho</option>
					<option value="7">Julho</option>
					<option value="8">Agosto</option>
					<option value="9">Setembro</option>
					<option value="10">Outubro</option>
					<option value="11">Novembro</option>
					<option value="12">Dezembro</option>
				</select>
			</div>
		</div>
		<div class="col-2 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-year">Ano</label>
			</div>
			<div class="col-10 clearfix">
				<select name="year" id="form-animal-year" class="col-10">
					<option value="2017" selected="selected">2017</option>
					<option value="2016">2016</option>
					<option value="2015">2015</option>
					<option value="2014">2014</option>
					<option value="2013">2013</option>
					<option value="2012">2012</option>
					<option value="2011">2011</option>
					<option value="2010">2010</option>
					<option value="2010">2010</option>
					<option value="2009">2009</option>
					<option value="2009">2009</option>
					<option value="2008">2008</option>
					<option value="2007">2007</option>
					<option value="2006">2006</option>
					<option value="2005">2005</option>
					<option value="2004">2004</option>
					<option value="2003">2003</option>
					<option value="2002">2002</option>
					<option value="2001">2001</option>
					<option value="2000">2000</option>
				</select>
			</div>
		</div>
		<div class="col-5 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-mark">Proprietário</label>
			</div>
			<div class="col-10 clearfix">
				<select name="mark" id="form-animal-mark" class="col-10">
					<option value="luciano" selected="selected">Luciano</option>
					<option value="jr">Luciano Jr</option>
				</select>
			</div>
		</div>
		<div class="col-3 form-cell clear-both">
			<div class="col-10 form-label">
				<label for="form-animal-race">Raça</label>
			</div>
			<div class="col-10 clearfix">
				<select name="race" id="form-animal-race" class="col-10">
					<option value="cruzado" selected="selected">Cruzado</option>
					<option value="brangus">Brangus</option>
					<option value="nelore">Nelore</option>
					<option value="angus">Angus</option>
					<option value="limousin">Limousin</option>
					<option value="gir">Gir</option>
					<option value="simmental">Simmental</option>
					<option value="holandesa">Holandes</option>
					<option value="hereford">Hereford</option>
					<option value="brahman">Brahman</option>
					<option value="outros">Outros</option>
				</select>
			</div>
		</div>
		<div class="col-2 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-grade">Grau</label>
			</div>
			<div class="col-10 clearfix">
				<select name="grade" id="form-animal-grade" class="col-10">
					<option value="1" selected="selected">Puro</option>
					<option value="38">3/8</option>
					<option value="34">3/4</option>
					<option value="14">1/4</option>
					<option value="12">1/2</option>
				</select>
			</div>
		</div>
		<div class="col-3 form-cell">
			<div class="col-10 form-label">
				<label for="form-animal-color">Pelagem</label>
			</div>
			<div class="col-10 clearfix">
				<select name="color" id="form-animal-color" class="col-10">
					<option value="branco" selected="selected">Branca</option>
					<option value="preto">Preta</option>
					<option value="vermelho">Vermelha</option>
				</select>
			</div>
		</div>
		<div class="col-4 form-cell clear-both">
			<div class="col-10 form-label">
				<label for="form-animal-mom">Filiação - Mãe</label>
			</div>
			<div class="col-10 clearfix">
				<select name="mom" id="form-animal-mom" class="col-10">
					<option value="" selected="selected">-</option>
					{{for females}}
						<option value="{{:_id}}">{{:ring}}</option>
					{{/for}}
				</select>
			</div>
		</div>
		<div class="col-4 form-cell clear-both">
			<div class="col-10 form-label">
				<label for="form-animal-dad">Filiação - Pai</label>
			</div>
			<div class="col-10 clearfix">
				<select name="dad" id="form-animal-dad" class="col-10">
					<option value="" selected="selected">-</option>
					{{for males}}
						<option value="{{:_id}}">{{:ring}}</option>
					{{/for}}
				</select>
			</div>
		</div>
		<div class="clear-both text-right">
			<input type="submit" value="Cadastrar">
		</div>
	</form>
</div>
