<div id="list">
	<table class="table width-full">
		<thead>
			<tr>
				<th></th>
				<th>Tatuagem</th>
				<th>Nome</th>
				<th>Pelagem</th>
				<th>Mãe</th>
				<th>Pai</th>
			</tr>
		</thead>
		<tbody>
			{{for docs}} 
				<tr id='list-{{:_id}}' class='link' data-args='{"route":"single","_id":"{{:_id}}"}'>
					<td class="text-bold"><i class="fa fa-tag tag-{{:tag}}"></i></td>
					<td class="text-bold">{{:ring}}</td>
					<td class="text-center">{{:name}}</td>
					<td class="text-center">{{:translated.color}}</td>
					<td class="text-center">{{:mom}}</td>
					<td class="text-center">{{:dad}}</td>
				</tr>
			{{else}}
				<tr>
					<td colspan="5">
						Nenhum touro que atenda aos critérios requisitados
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
</div>